img {
    border: 4px solid black;
}
a {
   color: #000000;
}
a:visited {
    color: blue;
}
a:hover {
    background-color: aqua;
}
li:hover {
    color: blueviolet;
}
input {
    background-color: #000000;
}